{% extends 'consultar_contas.html'%}

{% block credores%}
<form class="pure-form pure-form-aligned" method="post" action="/contas/delete/{{context.conta.id}}">
  <table class="table full" align="center">
    <tr bgcolor="#8B0000">
      <td colspan="40">
      <div align="center"><font face="Arial" size="4" color="#FFFFFF"><b>Exclusão de Contas</b></font></div>
    </td>
    </tr>
    <tr bgcolor="ebebeb">
      <td colspan="20">
        <div class="control-group">
					CNPJ <input type="text" name="cnpj" value="{{context.conta.credor_cnpj}}" readonly>
        </div>
      </td>
      <td colspan="20" width="75%">
        <div class="control-group">
          Nome <input type="text" name="nome" value="{{context.conta.credor.nome}}" readonly>
        </div>
      </td>
		</tr>
    <tr>
      <td colspan="40">
      	<div align="center"><font face="Arial" size="4" color="#000000"><b>Dados da Conta</b></font></div>
    	</td>
    </tr>		
    <tr bgcolor="ebebeb">
      <td colspan="10" width ="15%">
        <div class="control-group">
          Descrição  <input type="text" name="cep" value="{{context.conta.descricao}}" readonly>
        </div>
      </td>      
      <td colspan="20" width ="70%">
        <div class="control-group">
          Vencimento <input type="date" name="vencimento" value="{{context.conta.vencimento}}" readonly>
        </div>
      </td>			
			<td colspan="10" width="15%">
        <div>
          Valor
        </div>
        <div class="control-group">
          <input type="currency" name="valor" style="text-align:right" value="{{context.conta.valor}}" readonly disabled>
        </div>
      </td>
		</tr>
 
  </table>

  <table class="table full" align="center">
   <tr bgcolor="ebebeb">
     <td>
       <div class="controls" align = "center">
           <button type="submit" class="pure-button pure-button-primary">Excluir</button>
           <a href="/contas/cadastrar"><input type="button" value="Voltar"></a>
       </div>
     </td>
   </tr>
  </table>
  <script>
    var currencyInput = document.querySelector('input[type="currency"]')
    var currency = 'BRL' // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

    // format inital value
    onBlur({target:currencyInput})

    // bind event listeners
    currencyInput.addEventListener('focus', onFocus)
    currencyInput.addEventListener('blur', onBlur)


    function localStringToNumber( s ){
      return Number(String(s).replace(/[^0-9.,-]+/g,""))
    }

    function onFocus(e){
      var value = e.target.value;
      e.target.value = value ? localStringToNumber(value) : ''
    }

    function onBlur(e){
      var value = e.target.value

      var options = {
          maximumFractionDigits : 2,
          currency              : currency,
          style                 : "currency",
          currencyDisplay       : "symbol"
      }
      
      e.target.value = (value || value == 0) 
        ? localStringToNumber(value).toLocaleString(undefined, options)
        : ''
    }    
  </script>
</form>
{% endblock %}